<div *ngIf="product" class="product-details">
  <h2>{{ product.name }}</h2>
  <p>Type: {{ product.type }}</p>
  <p>BBAN: {{ product.BBAN }}</p>
  <p>IBAN: {{ product.IBAN }}</p>
  <p>Currency: {{ product.currency }}</p>
  <p>Available: {{ product.available }}</p>
  <br />
  <p>
    <a [routerLink]="'/products'"
      >Click here to go back to the full list of products</a
    >
  </p>
</div>
